* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --resp-blue: #0084FD;
    --resp-lightblue: #B5DDFF;
    --resp-purple: #9792E4;
    --resp-white: #ffffff;
    --resp-orange: #FDC15F;
    --resp-dark: #333333;
    --resp-grey: #5A6E7F;

}

body {
    font-family: sans-serif
}

/* Debug */
.debug #site_header {
    height: 75px;
    width: 100%;
    background-color: blue;
}

.debug .demo,
.debug .strategic,
.debug .testimonials,
.debug .benefits,
.debug .about-us,
.debug .free {
    height: 877px;
    width: 100%;
    background-color: orange;
    border: 5px dashed black;
}

.debug .container {
    height: 877px;
    background-color: green;
}

.debug .row {
    height: 743px;
    background-color: purple;
}

.debug .col-8,
.debug .col-4 {
    height: 330px;
    background-color: red;
    border: 3px dotted black;
}

.debug .col-6 {
    background-color: red;
    height: 790px;
    border: 3px dotted black;
}

.debug .col-12 {
    background-color: red;
    height: 300px;
    border: 3px dotted black;
}

.debug #site_footer {
    height: 180px;
    width: 100%;
    background-color: black;
}


/* Endregion Debug */

/* Utility */

.container {
    width: 60%;
    margin: auto;
    max-width: 1152px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col-"] {
    padding: 1rem
}

.demo .col-8 {
    width: calc(100% / 12 * 8 - 1rem);
}

.demo .col-4 {
    width: calc(100% / 12 * 4 - 1rem);
}

.about-us .col-4 {
    width: calc(100% / 12 * 4 - 1rem);
}

.demo .col-4-top {
    width: calc(100% / 12 * 4 - 1rem);
    margin: 2rem 1rem 1rem 0;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--resp-white);
    font-size: 14px;
}

.btn-white {
    background-color: var(--resp-white);
    border-radius: 2rem;
    color: black;
}

.btn-blue {
    background-color: var(--resp-blue);
    border-radius: 2rem;
    color: var(--resp-white);
    padding: 0.5rem 2rem;
}

.btn-purple {
    background-color: var(--resp-purple);
    border-radius: 2rem;
    color: var(--resp-white);
    padding: 0.5rem 2rem;
}

.txt-center {
    text-align: center;
}

.dir-col {
    flex-direction: column;
}

/* Endregion Utility */

/* Header */

#site_header {
    background-color: var(--resp-blue);
}

.container.d-flex {
    justify-content: space-between;
    align-items: center;
}

.buttons {
    padding: 1.5rem 1rem;
}

.buttons a {
    padding: 0.5rem 1rem
}

/* Endregion Header */



/* Main */

/* Demo Section */

.demo .col-8,
.demo .col-4,
.demo .col-4-top {
    background-color: var(--resp-lightblue);
    border-radius: 20px;

}

.fa-apple {
    padding: 0 0.25rem;
}

.card {
    width: 25%;
    position: absolute;
    right: 50px;
    bottom: -5px;
}

#phone {
    width: 100%;
}

.demo h3 {
    color: var(--resp-blue);
    padding: 1.5rem 0;
}

.demo p {
    color: var(--resp-dark);
    font-size: 14px;
}

.demo-text {
    width: 50%;
}

.demo p {
    line-height: 1.5rem;
    color: var(--resp-grey);
}

.appstore {
    margin: 2rem 0 3rem 0;
}

div.col-8 {
    position: relative;
    margin: 2rem 1rem 1rem 0;
}

.demo .col-4 {
    margin: 0 1rem 1rem 0;
}

.icon {
    font-size: 70px;
    color: var(--resp-blue);
}

.demo .row {
    margin-bottom: 3rem;
}

/* End Demo Section */

/* Strategic Section */

.strategic {
    background-color: var(--resp-purple);
}

#planning-1 {
    width: 70%;
    padding: 5rem 0;
}

.strategic h2 {
    color: var(--resp-white);
    margin-bottom: 2rem;
}

#strategic {
    color: var(--resp-white);
    font-size: 12px;
    line-height: 1.5rem;
    margin-left: 6rem;
}


#planning-2 {
    width: 70%;
    padding: 1rem 1rem 0 1rem;
}

.planning-card {
    background-color: var(--resp-white);
    border-radius: 30px;
    margin-top: 12rem;
    width: 70%;
}

.strategic h3 {
    padding: 1rem 0;
}

.planning-card p {
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 14px;
}

.fa-arrow-down-long {
    background-color: var(--resp-purple);
    padding: 1rem;
    border-radius: 50%;
}

.arrow {
    padding-bottom: 1rem;
}

.strategic .row {
    padding-bottom: 2rem;
}

/* End Strategic Section */


/* Testimonials Section */

.testimonials h4 {
    font-weight: 200;
    text-transform: uppercase;
    margin: 3rem 0 2rem 0;

}

.testimonials h1 {
    color: var(--resp-purple);
}

.relationship {
    font-size: 15px;
    margin: 2rem 0;
    line-height: 1.5rem;
    font-weight: 100;
}

.testimonial-card {
    background-color: var(--resp-purple);
    border-radius: 40px;
    padding: 1rem;
}

#testimonial-1,
#testimonial-2,
#testimonial-3 {
    height: 200px;
    border-radius: 50%;
    padding: 1rem;
    object-fit: cover;
    aspect-ratio: 1;
}

.testimonial-text {
    padding: 3rem 1rem 1rem 1rem;
    font-size: 13px;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--resp-white);
}

.fa-quote-left {
    padding: 0 0.25rem 0.25rem 0;
    font-size: 16px;
}

.fa-quote-right {
    font-size: 16px;
}

.testimonial-name {
    color: var(--resp-white);
    padding: 1rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.testimonials {
    margin-bottom: 4rem;
}

/* End Testimonials Section */

/* Benefits Section */

.benefits {
    background-color: var(--resp-purple);
    padding-bottom: 2rem;
}

.benefits h1 {
    padding: 3rem 0;
    color: var(--resp-white);
}

.benefits-card {
    background-color: var(--resp-white);
    border-radius: 20px
}

.benefits-card span {
    font-size: 50px;
    color: var(--resp-purple);

}

.benefits-card h4 {
    color: var(--resp-purple);
    padding: 0 0 1rem 1.5rem;
}

.benefits-number {
    padding: 1.5rem 0 0.5rem 1.5rem;
    font-weight: bold;
}

.benefits-text {
    padding: 0 1.5rem 1.5rem 1.5rem;
    font-weight: 100;
    color: var(--resp-grey);
    font-size: 12px;
    line-height: 1.5rem;
}

.more-button {
    padding: 0 1.5rem 1.5rem 1.5rem;
}

/* End Benefits Section */

/* About Us */

.about-us h1 {
    color: var(--resp-purple);
    padding: 1.5rem;
    font-size: 40px;
}

.about-us p {
    padding-bottom: 3rem;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 12px;
}

.manager img {
    height: 150px;
    border-radius: 50%;
}

.manager span {
    color: var(--resp-purple);
    font-size: 20px;
    font-weight: 700;
}

.about-us .col-4 {
    padding-top: 4.5rem;
}

.about-text {
    width: 80%;
    padding: 1rem 0;
}

.manager .btn-purple {
    font-size: 10px;
    padding: 0.25rem 0.5rem;
}

.fa-linkedin {
    padding-right: 0.5rem;
}

.manager .fa-quote-left {
    font-size: 60px;
    color: var(--resp-purple);
}

.quote-left {
    top: 0;
    right: 70px;
    position: absolute;
}

.manager {
    position: relative;
}

/* End About Us Section */

/* Free Section */

.free {
    background-color: var(--resp-purple);
}

.free h6 {
    text-transform: uppercase;
    color: var(--resp-grey);
    font-weight: 100;
    padding-top: 3rem;
}

.free h2 {
    color: var(--resp-white);
    padding-top: 1.5rem;
}

.free h1 {
    color: var(--resp-orange);
    font-size: 50px;
    padding-top: 2rem;
}

.free p {
    font-weight: 200;
    color: var(--resp-white);
    font-size: 12px;
    padding: 1.5rem 15rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

.free .btn-white {
    padding: 1rem 3rem;
    margin: 2rem 0;
}

.free a {
    color: var(--resp-purple);
}

.fa-circle {
    font-size: 5px;
    vertical-align: middle;
}

.copyright {
    padding: 1rem 0;
}

/* End Free Section */